body {
  background: floralwhite;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

.image{
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0;
}
.listCls input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
   
    margin: 0px;
}
.listCls input[type="text"]:focus,
.listCls input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.listCls ul li:hover {
    background-color: beige;
}
.mapCls{
    height: 600px;
    width: 77%;
    border: 10px solid #8CB5D2;
}
.listCls{
  float: left;
  width: 20%;
  height: 600px;
  overflow: overlay;
      border: 10px solid #8CB5D2;
}
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  height: 4rem;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
  text-align: center;
}